.standard-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    height: 50px;
    width: 330px;
    margin-top: 15px;
}

.popbutton {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }