.product-collection {
    margin-top: 40px;
    font-family: $font-poppins;
    margin-bottom: 50px;




    .Featured-header{
        display: flex;
        justify-content: space-between;
        
    }
    .title {
        font-size: 20px;
        font-weight: 700;
        text-align: left;
        
        margin-bottom: 30px;
    }
    .View-All{
        margin-top: 5px;
        font-size: 15px;
        font-weight: 400;

    }

    .collection-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;


        @include md {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include lg {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .collection-card {
            margin: 0;

            p {
                margin: 0;
            }

            .card-content {
                position: relative;

                img {
                    width: 100%;
                    object-fit: fill;
                    height: 200px;
                }

                .icons {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
               

                .icons .link {
                    height: 25px;
                    width: 25px;
                    font-size: 13px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #ffffff;
                    color: #222529;
                    border-radius: 50%;
                    text-decoration: none;
                    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
                    margin-left: 1rem;
                    transition: background-color 0.25s, color 0.20s;
                    margin-bottom: 1rem;

                    @include md {
                        margin: 3px;
                        height: 36px;
                        width: 36px;
                        font-size: 15px;
                        margin-bottom: 8px;

                    }

                    &:hover,
                    &:active {
                        background-color: #222529;
                        color: #ffffff;
                        text-decoration: none;
                    }
                }
            }


            @include lg {
                .card-content .card-menu {
                    opacity: 0%;
                    transition: all 0.15s;
                }

                &:hover .card-content .card-menu {
                    opacity: 100%;
                }

            }



            .card-body {
                text-align: left;
            }

                .title {
                    margin-top: 10px;
                    font-size: 12px;
                    font-weight: 400;
                    margin-bottom: 0px;
                    color: $color-dark-3;
                }

                .ranking {
                    color: yellow;
                    font-size: 20px;
                    margin-top: 10px;
                }

                .price {
                    font-size: 17px;
                    font-weight: 700;
                    margin-top: 10px;
                    margin-bottom: 0px;
                }
            }
        }
    }

