.RegisteerForm {


        
    body {
        margin: 0 15px 0 15px;
    }


    .signup1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .goblack {
        font-size: 23px;
        font-weight: 0;
    }

    .strek {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 60px;
    }

    /* .signup-section {
        display: flex;
        justify-content:center;
        align-items: center;
        margin: 0;
    } */

    .signup {
        display: flex;
        justify-content:center;
        align-items: center;
        margin: 0;
        font-size: 45px;
        margin-bottom: 30px;
    }

    .labels {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-group {
        position: relative; 
    }

    .placeholder {
        position: absolute; 
        top: -9px; 
        left: 18px;
        background-color: white; 
        padding: 0 5px; 
        font-size: 14px;
        color:#8f8f8f; 
    }

    .form-control {
        border: 1px solid #ccc; 
        padding: 10px; 
        border-radius: 30px;
        height: 30px;
        width: 300px;
        font-size: 15px; 
    }

    /* .sign-up-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: #fff;
        font-size: 19px;
        padding: 10px 20px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        height: 50px;
        width: 326px;
        margin-top: 20px;
    } */
    .form-group1 {
        display: flex;
    }

    .text2 {
        color: #898888;
        margin-left: 8px;
    }
    .sign-in {
        margin-left: 9px;
    }

    a {
        text-decoration: none;
        color: black;
        font-family: 'Mulish', sans-serif;
    }

    /* .MANERO {
        display: flex;
        justify-content: space-around;
    }

    .TW {
        text-align: center;
    }
    .FB {
        text-align: right;
        margin-left: 45px;
    }
    .GP {
        margin-right: 45px;
        text-align: left;
    }

    .FB img, .TW img, .GP img {
        width: 70px; 
        margin-top: 30px;
    } */

    .sendbtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .send-button {
        background-color: black;
        color: #fff;
        font-size: 19px;
        padding: 10px 20px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        height: 55px;
        width: 100%;
    }

    // .error-messages {
    //     display: flex;
    //     justify-content: center;
    //     color: red;
    // }
    .errormessagesignup {
        text-align: center;
        color: red;
        margin-top: 5px;
    }
    .error-message {
        color: red;
        text-align: center;
        margin-top: 3px;
    }

}